<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h5 class="mt-4 mb-4">投稿編集</h5>

    <%= form_with model: @post,url: post_path do |f| %>

     <table>
      <tr>
       <td><%= f.label "都道府県" %></td>
       <td><%= f.select :prefecture_id, Prefecture.pluck(:name, :id) %></td>
      </tr>

      <tr>
       <td><%= f.label "スポット名" %></td>
       <td><%= f.text_field :spot_name %></td>
      </tr>

       <tr>
        <th><%= f.label "写真" %></th>
        <td><%= f.file_field :images, direct_upload: true, multiple: true %></td>
       </tr>

       <tr>
        <td><%= f.label "郵便番号" %></td>
        <td><%= f.text_field :spot_postal_code %></td>
       </tr>

       <tr>
        <td><%= f.label "住所" %></td>
        <td><%= f.text_field :spot_address %></td>
       </tr>

       <tr>
        <td><%= f.label "おすすめポイント" %></td>
        <td><%= f.text_area :point %></td>
       </tr>

       <tr>
        <td><%= f.label "公開/非公開" %></td>
        <td><%= f.select :status, Post.statuses.map {|k, v| [k, k]} %></td>
       </tr>

       <tr>
        <td><%= f.submit 'Update',class: 'btn btn-success' %></td>
       </tr>
     </table>
    <% end %>
  </div>
 </div>
</div>