<div class="container">
 <div class="row">
  <div class="mx-auto">

   <div class="text-center p-5">
   <h5>新規投稿</h5>
   </div>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @post do |f| %>
     <table>

      <tr>
       <td><%= f.label "都道府県" %></td>
       <td><%= f.select :prefecture_id, Prefecture.pluck(:name, :id) %></td>
      </tr>

      <tr>
       <td><%= f.label "スポット名" %></td>
       <td><%= f.text_field :spot_name %></td>
      </tr>

       <tr>
        <th><%= f.label "写真" %></th>
        <td><%= f.file_field :images, direct_upload: true, multiple: true %></td>
       </tr>

       <tr>
        <td><%= f.label "郵便番号" %></td>
        <td><%= f.text_field :spot_postal_code %></td>
       </tr>

       <tr>
        <td><%= f.label "住所" %></td>
        <td><%= f.text_field :spot_address %></td>
       </tr>

       <tr>
        <td><%= f.label "おすすめポイント" %></td>
        <td><%= f.text_area :point %></td>
       </tr>

       <tr>
        <td><%= f.label "公開/非公開" %></td>
        <td><%= f.select :status, Post.statuses.map {|k, v| [k, k]} %></td>
       </tr>

       <tr>
        <td><%= f.submit "投稿",class: 'btn btn-success' %></td>
       </tr>

      </table>
    <% end %>

  </div>
 </div>
</div>