<div class="container">
 <div class="row">
  <div class="mx-auto">

     <h5 class="mt-4 mb-4">投稿詳細</h5>
      <table>
       <tr>
        <td>
         <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
           <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
          <% end %>
         <% end %>
        </td>
       </tr>
       <tr>
        <td class="font-weight-bold"><%= @post.prefecture.name %></td>
        <th>の</th>
        <td class="font-weight-bold"><%= @post.spot_name %></td>
        <td>
           <div id="favorite_<%=@post.id%>">
            <%= render 'public/favorites/favorite' %>
           </div>
        </td>
       </tr>
       <tr>
        <th>address</th>
        <td><%= @post.spot_postal_code %></td><td><%= @post.spot_address %></td>
       </tr>
       <tr>
        <th>point</th>
        <td><%= @post.point %></td>
       </tr>
       <tr>
        <th>投稿者</th>
        <td><%= @post.member.residence %></td><td><%= @post.member.age %>歳</td>
       </tr>
      </table>
        <%= link_to "編集する", edit_post_path(@post.id),class: 'btn' %>
        <%= link_to "削除する", post_path(@post.id),class: 'btn', method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>
 </div>
</div>