<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h4>投稿詳細</h4>
    <table>
     <tr>
      <td>
       <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
         <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
       <% end %>
      </td>
     </tr>
     <tr>
      <td><%= @post.prefectures %></td><td><%= @post.spot_name %></td>
     </tr>
     <tr>
      <td><%= @post.spot_postal_code %></td><td><%= @post.spot_address %></td>
     </tr>
     <tr>
      <td><%= @post.point %></td>
     </tr>
     <tr>
      <td><%= @post.member.residence %></td><td><%= @post.member.age %></td>
     </tr>
    </table>

  </div>
 </div>
</div>