<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h5 class="mt-5 mb-4 text-center">会員編集</h5>
      <% if @member.errors.present? %>
        <%= @member.errors.full_messages %>
      <% end %>

      <%= form_with model: @member,url: admin_member_path do |f| %>

      <div class="form-group">
        <%= f.label "居住地" %>
        <%= f.select :residence, Member::RESIDENCES ,{ include_blank: '選択してください', selected: @member.residence } , class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label "生年月日" %><br>
        <%= f.date_select :birth_date, {use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)},{ class: "form-control", style: 'display: inline-block; width: auto;' } %>
      </div>

      <div class="form-group">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "退会している場合はチェック" %>
        <%= f.check_box :is_deleted %>
      </div>

      <div class="form-group mt-4 mb-4">
        <%= f.submit "更 新",class: 'btn' %>
      </div>

      <% end %>

  </div>
 </div>
</div>