<div class="container">
 <div class="row">
  <div class="mx-auto">

    <h5 class="mt-4 mb-4 text-center">投稿履歴</h5>

      <div class="my_page", style="text-align: center; font-size: 15px;">
        <i class= "fas fa-house" style="color: #8b9098; font-size: 20px; margin-right: 5px;"></i><%= @member.residence %>
        <i class="fa-solid fa-cake-candles" style="color: #8b9098; font-size: 20px; margin-right: 5px; margin-left: 15px;"></i>  <%= @member.birth_date.strftime("%Y年%-m月%-d日") %>
        <i class="fa-regular fa-envelope" style="color: #8b9098; font-size: 20px; margin-right: 5px; margin-left: 15px;"></i>  <%= @member.email %>
      </div>

      <table class="mt-5 w-100 table text-black-50">
        <tr>
         <th>投稿ID</th>
         <th>スポット名</th>
         <th>投稿日</th>
        </tr>
          <% @posts.each do |post| %>
        <tr>
         <td><%= post.id %></td>
         <td><%= link_to post.spot_name,post_path(post.id),class: 'text-dark' %></td>
         <td><%= post.created_at %></td>
        </tr>
          <% end %>
      </table>

  </div>
 </div>
</div>