<div class="container">
 <div class="row">
  <div class="mx-auto">

    <h5 class="text-center mt-4 mb-4">マイページ</h5>
    <div class="my_page", style="text-align: center; font-size: 15px;">
      <i class= "fas fa-house" style="color: #8b9098; font-size: 20px; margin-right: 5px;"></i><%= current_member.residence %>
      <i class="fa-solid fa-cake-candles" style="color: #8b9098; font-size: 20px; margin-right: 5px; margin-left: 15px;"></i>  <%= current_member.birth_date.strftime("%Y年%-m月%-d日") %>
      <i class="fa-regular fa-envelope" style="color: #8b9098; font-size: 20px; margin-right: 5px; margin-left: 15px;"></i>  <%= current_member.email %>
     </div>

       <h6 class="mt-4 mb-2">投稿履歴</h6>
        <% @posts.each do |post| %>
          <% post.images.first(4).each do |image| %> <%# imageを4つまで表示 %>
             <%= link_to post_path(post.id) do %>
              <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
             <% end %>
          <% end %>
        <% end %>
        <div class="text-right"><%= link_to "more ＞",posts_path,class: 'text-black-50' %></div>


       <h6 class="mt-4 mb-2">お気に入り</h6>
       <div class="favorite">
         <% if @favorite_list.present? %>
           <% @favorite_list.each do |post| %>
             <% post.images.each do |image| %>
              <%= link_to post_path(post.id) do %>
               <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
              <% end %>
             <% end %>
           <% end %>
         <% end %>
        </div>

       <div class="mt-4 mb-4", style="display: flex;">
        <%= link_to "編集", members_information_edit_path,class: 'btn btn-sm', style: "margin-right: 5px;" %>
        <%= link_to "退会", members_confirm_withdraw_path,class: 'btn btn-sm', style: "margin-left: 10px;" %>
       </div>

  </div>
 </div>
</div>