<div class="container">
 <div class="row">
  <div class="mx-auto">

   <div class="text-center p-5">
    <h5 class="mt-4 mb-4">マイページ</h5>
    <%= link_to "編集する", members_information_edit_path,class: 'btn btn-success' %>
    <%= link_to "退会する", members_confirm_withdraw_path,class: 'btn btn-danger' %>
   </div>


   居住地  <%= current_member.residence %>   生年月日  <%= current_member.birth_date.strftime("%Y年%-m月%-d日") %>

   <h6>投稿履歴</h6>
   <% @posts.each do |post| %>
     <%= link_to post.spot_name,post_path(post.id),class: 'text-dark' %>
   <% end %>

   <h6>お気に入り</h6>
   <% if @favorite_list.present? %>
     <% @favorite_list.each do |post| %>
       <% post.images.each do |image| %>
        <%= link_to post_path(post.id) do %>
         <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
       <% end %>
     <% end %>
   <% end %>

  </div>
 </div>
</div>