<div class="container">
  <h6 class="mt-4 mb-4">会員一覧</h6>

    <table class="w-100 table text-black-50">
      <tr>
       <th>会員ID</th>
       <th>居住地</th>
       <th>生年月日</th>
       <th>メールアドレス</th>
       <th>ステータス</th>
      </tr>
      <% @members.each do |member| %>
      <tr>
       <td><%= member.id %></td>
       <td><%= link_to member.residence,admin_member_path(member.id),class: 'text-dark' %></td>
       <td><%= member.birth_date %></td>
       <td><%= member.email %></td>
           <% if member.is_deleted == true %>
        <td class="text-black-50">退会</td>
           <% else %>
        <td class="text-success">有効</td>
           <% end %>

      </tr>
      <% end %>
    </table>
     <div class="mb-4">
       <%= paginate @members %>
     </div>
</div>
