<div class="container">
 <div class="row">
  <div class="mx-auto">

　　 <div class="mr-3">
       <h5 class="mb-4 font-weight-bold">
        <%= @post.prefecture.name %>の<%= @post.spot_name %>
       </h5>
     </div>

    <div>
      <% if @post.images.attached? %>
       <% @post.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
       <% end %>
      <% end %>
    </div>

     <div class="mt-4">
       住所：<%= @post.spot_postal_code %><%= @post.spot_address %>
     </div>

     <div>
       おすすめポイント：<%= @post.point %>
     </div>

     <div>
       投稿者：<%= @post.member.residence %> <%= @post.member.age %>歳
     </div>

      <div class="mt-4 mb-4", style="display: flex;">
        <%= link_to "削除する", admin_post_path(@post.id),class: 'btn btn-sm',  method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>

  </div>
 </div>
</div>