<!DOCTYPE html>
<html>
  <head>
    <title>my town</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/5b9f916125.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'my_town_logo.jpg',size: '150x150' %></a>
          <%= form_with(url: search_posts_path, method: "get", local: true) do |form| %>
            <div class="search-box">
                <%= form.label :q, "住所で検索：" %>
                <%= form.text_field :q %>
                <%= button_tag(type: "submit", class: "search-icon-button") do %>
                  <i class= "fas fa-search" style="color: #8b9098;"></i>
                <% end %>
              </div>
            <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
            <li class="nav-item">
            <%= link_to "会員一覧",admin_path,class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class: 'nav-link text-dark' %>
            </li>
            <% elsif member_signed_in? %>
            <li class="nav-item">
            <%= link_to "マイページ",members_my_page_path,class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to "新規投稿",new_post_path,class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト",destroy_member_session_path,method: :delete,class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
            <%= link_to "会員登録",new_member_registration_path,class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログイン",new_member_session_path,class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to "ゲストログイン",members_guest_sign_in_path, method: :post,class: 'nav-link text-dark' %>
            </li>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
